/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package com.winwinkit.client.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import com.winwinkit.client.models.AffiliateAnalyticsResponse
import com.winwinkit.client.models.ErrorsResponse

import com.squareup.moshi.Json

import com.winwinkit.client.infrastructure.ApiClient
import com.winwinkit.client.infrastructure.ApiResponse
import com.winwinkit.client.infrastructure.ClientException
import com.winwinkit.client.infrastructure.ClientError
import com.winwinkit.client.infrastructure.ServerException
import com.winwinkit.client.infrastructure.ServerError
import com.winwinkit.client.infrastructure.MultiValueMap
import com.winwinkit.client.infrastructure.PartConfig
import com.winwinkit.client.infrastructure.RequestConfig
import com.winwinkit.client.infrastructure.RequestMethod
import com.winwinkit.client.infrastructure.ResponseType
import com.winwinkit.client.infrastructure.Success
import com.winwinkit.client.infrastructure.toMultiValue

class AnalyticsApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://api.winwinkit.com")
        }
    }

    /**
     * GET /analytics/affiliates
     * Get Affiliate Analytics
     * Returns the project affiliates with their totals for a period, oldest joiner first. Affiliates with no activity in the period are omitted. Note 1: this endpoint is only accessible with a secret API key. Note 2: a period may span at most 90 days; request a longer window a period at a time. Note 3: up to 100 affiliates are returned per request; page through the rest with &#x60;offset&#x60;.
     * @param from The first day of the period, inclusive, as YYYY-MM-DD (UTC).
     * @param to The last day of the period, inclusive, as YYYY-MM-DD (UTC). Must not be before &#x60;from&#x60;, and the period must be at most 90 days long.
     * @param xApiKey The secret API key.
     * @param limit How many affiliates to return, from 10 to 100. (optional, default to 100)
     * @param offset How many affiliates to skip before the page. (optional, default to 0)
     * @return AffiliateAnalyticsResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getAffiliateAnalytics(from: java.time.LocalDate, to: java.time.LocalDate, xApiKey: kotlin.String, limit: java.math.BigDecimal? = java.math.BigDecimal("100"), offset: java.math.BigDecimal? = java.math.BigDecimal("0")) : AffiliateAnalyticsResponse {
        val localVarResponse = getAffiliateAnalyticsWithHttpInfo(from = from, to = to, xApiKey = xApiKey, limit = limit, offset = offset)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as AffiliateAnalyticsResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /analytics/affiliates
     * Get Affiliate Analytics
     * Returns the project affiliates with their totals for a period, oldest joiner first. Affiliates with no activity in the period are omitted. Note 1: this endpoint is only accessible with a secret API key. Note 2: a period may span at most 90 days; request a longer window a period at a time. Note 3: up to 100 affiliates are returned per request; page through the rest with &#x60;offset&#x60;.
     * @param from The first day of the period, inclusive, as YYYY-MM-DD (UTC).
     * @param to The last day of the period, inclusive, as YYYY-MM-DD (UTC). Must not be before &#x60;from&#x60;, and the period must be at most 90 days long.
     * @param xApiKey The secret API key.
     * @param limit How many affiliates to return, from 10 to 100. (optional, default to 100)
     * @param offset How many affiliates to skip before the page. (optional, default to 0)
     * @return ApiResponse<AffiliateAnalyticsResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getAffiliateAnalyticsWithHttpInfo(from: java.time.LocalDate, to: java.time.LocalDate, xApiKey: kotlin.String, limit: java.math.BigDecimal?, offset: java.math.BigDecimal?) : ApiResponse<AffiliateAnalyticsResponse?> {
        val localVariableConfig = getAffiliateAnalyticsRequestConfig(from = from, to = to, xApiKey = xApiKey, limit = limit, offset = offset)

        return request<Unit, AffiliateAnalyticsResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getAffiliateAnalytics
     *
     * @param from The first day of the period, inclusive, as YYYY-MM-DD (UTC).
     * @param to The last day of the period, inclusive, as YYYY-MM-DD (UTC). Must not be before &#x60;from&#x60;, and the period must be at most 90 days long.
     * @param xApiKey The secret API key.
     * @param limit How many affiliates to return, from 10 to 100. (optional, default to 100)
     * @param offset How many affiliates to skip before the page. (optional, default to 0)
     * @return RequestConfig
     */
    fun getAffiliateAnalyticsRequestConfig(from: java.time.LocalDate, to: java.time.LocalDate, xApiKey: kotlin.String, limit: java.math.BigDecimal?, offset: java.math.BigDecimal?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
                if (offset != null) {
                    put("offset", listOf(offset.toString()))
                }
                put("from", listOf(parseDateToQueryString(from)))
                put("to", listOf(parseDateToQueryString(to)))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        xApiKey.apply { localVariableHeaders["x-api-key"] = this.toString() }
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/analytics/affiliates",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
