/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package com.winwinkit.client.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import com.winwinkit.client.models.ErrorsResponse
import com.winwinkit.client.models.UserGrantRewardRequest
import com.winwinkit.client.models.UserGrantRewardResponse
import com.winwinkit.client.models.UserWithdrawCreditsRequest
import com.winwinkit.client.models.UserWithdrawCreditsResponse

import com.squareup.moshi.Json

import com.winwinkit.client.infrastructure.ApiClient
import com.winwinkit.client.infrastructure.ApiResponse
import com.winwinkit.client.infrastructure.ClientException
import com.winwinkit.client.infrastructure.ClientError
import com.winwinkit.client.infrastructure.ServerException
import com.winwinkit.client.infrastructure.ServerError
import com.winwinkit.client.infrastructure.MultiValueMap
import com.winwinkit.client.infrastructure.PartConfig
import com.winwinkit.client.infrastructure.RequestConfig
import com.winwinkit.client.infrastructure.RequestMethod
import com.winwinkit.client.infrastructure.ResponseType
import com.winwinkit.client.infrastructure.Success
import com.winwinkit.client.infrastructure.toMultiValue

class RewardsActionsApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://api.winwinkit.com")
        }
    }

    /**
     * POST /users/{app_user_id}/rewards/grant
     * Grant a Reward
     * Grants a reward for a user. Note 1: currently only granting of credit rewards is supported. Note 2: this endpoint is only accessible with a secret API key.
     * @param appUserId The app user id of the user to grant a reward to.
     * @param xApiKey The secret API key.
     * @param userGrantRewardRequest 
     * @return UserGrantRewardResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun grantReward(appUserId: kotlin.String, xApiKey: kotlin.String, userGrantRewardRequest: UserGrantRewardRequest) : UserGrantRewardResponse {
        val localVarResponse = grantRewardWithHttpInfo(appUserId = appUserId, xApiKey = xApiKey, userGrantRewardRequest = userGrantRewardRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as UserGrantRewardResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /users/{app_user_id}/rewards/grant
     * Grant a Reward
     * Grants a reward for a user. Note 1: currently only granting of credit rewards is supported. Note 2: this endpoint is only accessible with a secret API key.
     * @param appUserId The app user id of the user to grant a reward to.
     * @param xApiKey The secret API key.
     * @param userGrantRewardRequest 
     * @return ApiResponse<UserGrantRewardResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun grantRewardWithHttpInfo(appUserId: kotlin.String, xApiKey: kotlin.String, userGrantRewardRequest: UserGrantRewardRequest) : ApiResponse<UserGrantRewardResponse?> {
        val localVariableConfig = grantRewardRequestConfig(appUserId = appUserId, xApiKey = xApiKey, userGrantRewardRequest = userGrantRewardRequest)

        return request<UserGrantRewardRequest, UserGrantRewardResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation grantReward
     *
     * @param appUserId The app user id of the user to grant a reward to.
     * @param xApiKey The secret API key.
     * @param userGrantRewardRequest 
     * @return RequestConfig
     */
    fun grantRewardRequestConfig(appUserId: kotlin.String, xApiKey: kotlin.String, userGrantRewardRequest: UserGrantRewardRequest) : RequestConfig<UserGrantRewardRequest> {
        val localVariableBody = userGrantRewardRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        xApiKey.apply { localVariableHeaders["x-api-key"] = this.toString() }
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/users/{app_user_id}/rewards/grant".replace("{"+"app_user_id"+"}", encodeURIComponent(appUserId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * POST /users/{app_user_id}/rewards/withdraw-credits
     * Withdraw Credits
     * Withdraws credits from a user.
     * @param appUserId The app user id of the user to withdraw credits from.
     * @param xApiKey The API key to authenticate with.
     * @param userWithdrawCreditsRequest 
     * @return UserWithdrawCreditsResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun withdrawCredits(appUserId: kotlin.String, xApiKey: kotlin.String, userWithdrawCreditsRequest: UserWithdrawCreditsRequest) : UserWithdrawCreditsResponse {
        val localVarResponse = withdrawCreditsWithHttpInfo(appUserId = appUserId, xApiKey = xApiKey, userWithdrawCreditsRequest = userWithdrawCreditsRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as UserWithdrawCreditsResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /users/{app_user_id}/rewards/withdraw-credits
     * Withdraw Credits
     * Withdraws credits from a user.
     * @param appUserId The app user id of the user to withdraw credits from.
     * @param xApiKey The API key to authenticate with.
     * @param userWithdrawCreditsRequest 
     * @return ApiResponse<UserWithdrawCreditsResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun withdrawCreditsWithHttpInfo(appUserId: kotlin.String, xApiKey: kotlin.String, userWithdrawCreditsRequest: UserWithdrawCreditsRequest) : ApiResponse<UserWithdrawCreditsResponse?> {
        val localVariableConfig = withdrawCreditsRequestConfig(appUserId = appUserId, xApiKey = xApiKey, userWithdrawCreditsRequest = userWithdrawCreditsRequest)

        return request<UserWithdrawCreditsRequest, UserWithdrawCreditsResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation withdrawCredits
     *
     * @param appUserId The app user id of the user to withdraw credits from.
     * @param xApiKey The API key to authenticate with.
     * @param userWithdrawCreditsRequest 
     * @return RequestConfig
     */
    fun withdrawCreditsRequestConfig(appUserId: kotlin.String, xApiKey: kotlin.String, userWithdrawCreditsRequest: UserWithdrawCreditsRequest) : RequestConfig<UserWithdrawCreditsRequest> {
        val localVariableBody = userWithdrawCreditsRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        xApiKey.apply { localVariableHeaders["x-api-key"] = this.toString() }
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/users/{app_user_id}/rewards/withdraw-credits".replace("{"+"app_user_id"+"}", encodeURIComponent(appUserId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
